.previously_needed
.ipynb_checkpoints
.DS_Store
btmm_process/__pycache__/
*.pyc
build/
dist/
*.egg-info/
*.egg
.idea/

# Ignore the test data.
tests/data/multifiledemo/

# due to using tox and pytest
.tox
.cache
.coverage
