graft docs
graft src
graft ci
graft tests

prune notebooks/EGU2020
prune tests/data/*

include .bumpversion.cfg
include .coveragerc
include .cookiecutterrc
include .editorconfig

include LICENSE
include README.md
include CHANGELOG.md

include tox.ini pyproject.toml

global-exclude *.py[cod] __pycache__/* *.so *.dylib

# Suggested from tox
include PyFOX.py
include *.jpg
include *.pdf
include *.png
recursive-include muppet_archiver *.bat
recursive-include muppet_archiver *.py
recursive-include muppet_archiver *.yml
recursive-include notebooks *.html
recursive-include notebooks *.ipynb
recursive-include notebooks *.jpg

# Ignore temp files, os stuff
exclude *.DS_Store
recursive-exclude src/pyfocs *.DS_Store
recursive-exclude tests/data *.DS_Store
recursive-exclude tests/data/.ipynb_checkpoints *.ipynb
exclude tests/data/example_data_notebooks.tar.gz
